<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scream.study.mybatis.mapper.UserMapper">
    <!--<resultMap type="User" id="user">-->
        <!--&lt;!&ndash; 定义主键 ,非常重要。如果是多个字段,则定义多个id &ndash;&gt;-->
        <!--&lt;!&ndash; property：主键在pojo中的属性名 &ndash;&gt;-->
        <!--&lt;!&ndash; column：主键在数据库中的列名 &ndash;&gt;-->
        <!--<id property="id" column="id" />-->

        <!--&lt;!&ndash; 定义普通属性 &ndash;&gt;-->
        <!--<result property="name" column="name" />-->
        <!--<result property="sex" column="sex" />-->
        <!--<result property="age" column="age" />-->
    <!--</resultMap>-->
<!--<select id="query"  resultMap="user">-->
    <!--select id ,name-->
    <!--from user-->
    <!--<where>-->
        <!--<if test="name != null">-->
            <!--and name like CONCAT('%',#{name},'%')-->
        <!--</if>-->
    <!--</where>-->

<!--</select>-->
    <select id="query"  resultType="com.scream.workhelper.bean.User">
    select id ,name
    from user
    <where>
    <if test="name != null">
    and name like CONCAT('%',#{name},'%')
    </if>
    </where>

    </select>
</mapper>